@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


:root{
    /* ====== COLOR-LIGHT ===== */
    --main-color: #ffff;
    --font-s-bold: 900;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: rgb(59, 59, 59);
    color: white;
}
strong, h4{
    color: rgb(35, 35, 35);
    color:white;
}
body{
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
main{
    position: relative;
}
.dark-theme{
    background-color: rgb(32, 45, 54);
    color: white;
}
.dark-theme-light{
    background-color: rgb(43, 55, 67);
    color: white;
}
.infor-dark{
    color: white;
}
/* ========HEADER======= */
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title{
    font-size: 1.4rem;
    font-weight: var(--font-s-bold);
    letter-spacing: 0.4px;
}
.theme{
    position: relative;
    /* visibility: hidden; */
}

/* ====== SEACH ===== */

.seach{
    width: 85%;
    height: 50px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    justify-content:flex-start;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.seach > i {
    color: rgb(126, 126, 126);
}
input{
    border: none;
    font-weight: 600;
    outline: 0;
}

/* === fillter === */
#region{
    border: none;
    width: 50%;
    /* height: 40px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 8px;
}

/* ========= CARD COUNTRY ======== */
.card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    /* align-items: center; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    overflow: hidden;
    transition: all 0.1s ease;
}
.country-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 18px;
}
.infor{
    padding: 1rem 0 2rem;
}
.name-country{
    margin:1rem 1.3rem 0;
    line-height: 1.8rem;
    letter-spacing: 0.3px;
}
.info-country{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin: 1.3rem;
}
.info-country > p{
    letter-spacing: 0.3px;
}
h3{
    font-weight: 900;
    font-size: 22px;
}
/* ====== Loading ====== */
.loading > i{
    font-size: 32px;
    text-align: center;
    animation: loading 1400ms infinite;
}
@keyframes loading{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
.hide{
    display: none;
}
/* ======DETAL COUNTRY===== */
.detal-country {
    position: absolute;
    top: 0rem;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    right: -1000%;
    z-index: 2;
    transition: all 0.6s ease;
}
.hide-detal{
    right: 0;
}
.btn-back{
    display: block;
    /* margin-left: 1.3rem; */
    width: 85%;
    margin: 0 auto;
}
.btn-back > button{
    margin: 1rem 0; 
}
.detal-flag{
    width: 85%;
    margin-left: 1.3rem;
    display: block;
    margin: 0 auto;
}
.info-country-detal{
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-top: 1rem;
}
.info-country-detal > p{
    margin-top: 0.8rem;
}

/* Dark Mode */
.theme{

}
.hide::before{
    display: none;
}
/* .fa-moon::before{
    display: none;
} */
.theme-input:checked ~ .fa-moon::before{
    font-size: 200px;
}

@media  screen and (min-width: 728px) {
    .seach{
        width: 60%;
    }
    .card-main{
        display: grid;
        grid-template-columns: auto auto;
        align-items: stretch;
    }
}

@media  screen and (min-width: 1200px) {
    .seach{
        width: 40%;
    }
    .card-main{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: stretch;
    }
}